// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #d16c2d;
$secondary : #22577a;
$accent    : #22577a;

$dark      : #2b363b;
$dark-page : #1e2426;

$positive  : #668a49;
$negative  : #aa4465;
$info      : #81818a;
$warning   : #d39e0d;

$light     : #E4DFDD;